.repo {
    padding: 1rem;
    width: 250px;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    overflow-x: hidden;
    margin: -3px 0 -3px 0;
    color: #6b6b6b;
}


.repo:hover {
    background-color: #6b6b6b;
    color: #ffcc19;
}

.repo-active {
    background-color: #6b6b6b;
    color: #ffcc19;
}

#postIcon{
    margin-bottom: 10px;
}

#createdDate{
    margin-bottom: 10px;
    float: right;
    font-size: 0.6em;
}

#description{
    float: left;
}
