.reposWrapper {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    align-items: flex-start;
    text-align: left;
    height: auto;
    background-color: #ffcc19;
    color: #6b6b6b;    
}

@media only screen and (max-width:768px) {
    .reposWrapper {
        font-size: 15px;
    }
}